body {
    margin: 0px;
}

nav {
    background-color: #0c4ca3;
    
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    padding: 15px;
}

.border{
    border-right: 1px sold grey;
}

.danhmuc-lienket {
    color: white;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;
}

.banner-qc {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.qc {
    display: flex;
    justify-content: space-between;
}

header {
    border-bottom: 5px sold #f1f1f2;
}

.tin-tuc-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.thanh-tieude {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  color: #003366;
  border-left: 5px solid #003366;
  margin-bottom: 20px;
}

.xem-them {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.danh-sach-bai-viet {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.bai-viet {
  width: 23%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.bai-viet img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.bai-viet h3 {
  font-size: 16px;
  color: #003366;
  margin-bottom: 5px;
}

.bai-viet p {
  font-size: 14px;
  color: #444;
}